* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* UTILITY */

.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;

  /* margin-left: -1rem;
  margin-right: -1rem; */
}

main {
  flex-grow: 1;
}

.card {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

header {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  color: orange;
}

/* MAIN */

main {
  background-color: #f6f5f3;
}

.dessert-name {
  color: #4d3565;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

span {
  color: #a29ba3;
}

.card.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card.content h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul li {
  padding-bottom: 1rem;
  display: inline-block;
  width: 100%;
}

.socials .container {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.5rem;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0 5px;
}

.hidden {
  display: none;
}

.hidden-socials {
  display: none;
}

.presentation .container h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.presentation .container img {
  max-width: 50%;
  padding-bottom: 1rem;
}

p {
  line-height: 2rem;
}

/* FOOTER */

footer {
  background-color: #7c69a4;
  color: white;
  padding: 2rem 2rem;
}

footer .info span {
  color: white;
}

.info {
  display: block;
  text-align: center;
}

.info > * {
  padding-bottom: 0.5rem;
}

.links {
  text-align: center;
}

.links a {
  width: calc(100% / 5);
  display: inline-block;
  padding-bottom: 1rem;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  header {
    text-align: left;
  }

  .container {
    max-width: 991px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  ul li {
    width: calc(100% / 4);
  }

  button {
    flex-grow: 1;
  }

  .hidden {
    display: block;
  }

  h1 {
    font-size: 3rem;
  }

  .dessert-name .container h1 .hidden {
    color: #4d3565;
    display: inline-block;
  }

  .presentation .container img {
    padding-right: 5px;
    float: left;
  }

  .links a {
    padding-right: 1rem;
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1140px;
  }

  .hidden-socials {
    display: inline-block;
    color: black;
    padding-left: 10px;
    font-size: 1rem;
  }

  .img {
    max-width: 70%;
  }

  .content {
    max-width: 30%;
  }

  ul li {
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    text-align: left;
  }
}
